/.phpunit.cache
/.fleet
/.idea
/.vscode

/Docker/mysql/*
/Docker/nginx/logs/*

/node_modules
/vendor

.env
.env.backup
.env.production
.phpunit.result.cache

package-lock.json
composer.lock

!.gitkeep
