html, body {
    background: #6c757d;
}

.container {
    max-width: 960px;
}

.card-body-fixed {
    height: 300px;
}

.card-img-fixed {
    max-width: 260px;
}

.testimonials > .card > hr:last-child {
    display: none;
}

@media (max-width: 700px) {
    .product-info {
        flex-wrap: wrap;
    }

    .testimonial-user-data {
        display: block !important;
    }

    .testimonial-user-data > div {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
